/* 全屏背景视频 */
#fullscreen-video {
    position: relative;
    width: 100%;
    height: 100vh; /* 高度占据整个视窗 */
    overflow: hidden;
}

.background-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.header-text h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.header-text p {
    font-size: 1.5rem;
    margin: 10px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#scroll-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#scroll-button:hover {
    background-color: #555;
}

/* 模块内容样式 */
#main-content {
    display: none; /* 初始隐藏 */
    background-color: #f4f4f4;
    padding: 20px;
}

.module-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.module {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 40%;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.module img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.module h2 {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
}

.module p {
    color: #666;
    margin-bottom: 0.5rem;
}
